


<div class="dashCont">

<div> search feature </div>
  <div class="dash1of3">
    <div class="d103upComing">
      <h1>Upcoming Viewings</h1>
    </div>
    <div class="d103mB">
      <div class="d103conts">
      <div class="d103contsWho"> <h3>Arc name</h3></div>
      <div class="d103contsWhen"> <h3> Thu 16th Jan 15:00</h3>  </div>
      <div class="d103contsWhere"><h3>21 Calle Serraino, Doth, 082822</h3></div>
    </div>
    <div class="d103conts">
      <div class="d103contsWho"> <h3>Arc name 2</h3></div>
      <div class="d103contsWhen"> <h3> Sat 18th Jan 19:00</h3>  </div>
      <div class="d103contsWhere"><h3>41 Parc Call, Rond, 023021</h3></div>
    </div>

    </div>
    <div class="d103reQ"> <h3> Manage Viewings </h3>
    </div>
  </div>
  <div class="dash2of3">
    <div class="d203cont">
      <div class="d203leftConts">
        <div class="d203LCtitle"> <h1>My Reports </h1></div>
        <div class="d203LCcurrent">
          </div>
        <div class="d203LCedit"><h3> View all</h3></div>
      </div>
      <div class="d203rightConts">
        <div class="d203RCtitle"> <h1>My Profile Info</h1></div>
        <div class="d203RCprofile">
          <h4>About me:</h4>
          <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
          <h4>Joined:</h4>
          <p>Jan '19</p>

        </div>
        <div class="d203RCedit">

          <h3>Edit your Profile</h3>

        </div>
      </div>
    </div>


  </div>



  </div>

</div>
