 <div class="Pbanner">
    <h4> Money earned from Jamba: € 3,250 </h4>
    <h4>  Withdrawable Funds : € 250 </h4>
 </div>
 <div class="Rbanner">
   <div class="reportBox">
     <div class="reportFlashL">
       <div class="reportIcons">
        <i class="fas fa-file-invoice"></i>
        <i class="fas fa-equals equelz"></i>
        <i class="fas fa-money-check-alt"></i>
       </div>
     </div>
     <div class="reportFlashR">
       <div class="reportHeader">
         <p> 2 </p>
       </div>
       <div class="reportText">
        <p>Reports<p>
       </div>
     </div>
   </div>
 </div>

<div class="dashCont">


  <div class="dash1of3">
    <div class="d103upComing">
      <h1>Upcoming Viewings</h1>
    </div>
    <div class="d103mB">
      <div class="d103conts">
      <div class="d103contsWho"> <h3>Jose Maria</h3></div>
      <div class="d103contsWhen"> <h3> Thu 16th Jan 15:00</h3>  </div>
      <div class="d103contsWhere"><h3>21 Calle Serraino, Doth, 082822</h3></div>
    </div>
    <div class="d103conts">
      <div class="d103contsWho"> <h3>Michael Brooks</h3></div>
      <div class="d103contsWhen"> <h3> Sat 18th Jan 19:00</h3>  </div>
      <div class="d103contsWhere"><h3>41 Parc Call, Rond, 023021</h3></div>
    </div>
    <div class="d103conts">
      <div class="d103contsWho2"> <h3>Sarah Gomez</h3></div>
      <div class="d103contsWhen2"> <h3> Tues 24th Feb 16:00</h3>  </div>
      <div class="d103contsWhere2"><h3>21 Carrer De la Rue, 013372</h3></div>
    </div>
    </div>
    <div class="d103reQ"> <h3> Manage Bookings </h3>
    </div>
  </div>
  <div class="dash2of3">
    <div class="d203cont">
      <div class="d203leftConts">
        <div class="d203LCtitle"> <h1>My Jamba Days</h1></div>
        <div class="d203LCcurrent">
          <ul id="bulli">
           <h4> <li>M  15:00-19:00</li> </h4>
           <h4> <li class="strike">T  </li> </h4>
           <h4> <li>W  15:00-19:00</li> </h4>
           <h4> <li class="strike">T </li> </h4>
           <h4> <li class="strike">F  </li> </h4>
           <h4> <li>S  10:00-18:00</li> </h4>
           <h4> <li class="strike">S  </li> </h4>
          </ul>
        </div>
        <div class="d203LCedit"><h3> Edit your Availability</h3></div>
      </div>
      <div class="d203rightConts">
        <div class="d203RCtitle"> <h1>My Profile Info</h1></div>
        <div class="d203RCprofile">
          <h4>About me:</h4>
          <p> Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </p>
          <h4>Type:</h4>
          <p>Interior</p>
          <h4>Number:</h4>
          <p>018210212</p>
          <h4>E-mail:</h4>
          <p>Rah@hotmail.com</p>
        </div>
        <div class="d203RCedit">

          <h3>Edit your Profile</h3>

          <h3><i class="fas fa-camera"></i>Add Photos</h3>
        </div>
      </div>
    </div>


  </div>
  <div class="dash3of3">
    <div class="d303cont">

        <div class="d303reps">
          <h2>
<%= link_to "View your reports", reports_show_path %></h2>
        </div>
      </div>
    </div>


  </div>

</div>
