






<div class="homepageBox">

  <div class="titleBoxHP">
    <div class="welcHP">
      <h1>WELCOME TO</h1>
    </div>
    <div class="jambaHP">
      <h1>JAMBA.</h1>
    </div>
  </div>
  <div class="searchBoxHP">
    <div class="searchTextHP">
      <h2>I'm looking for <input type="text"> <br>In <input type="text"><br> On this date <input type="text"></h2>
      <div class="btn btn-success"> <%= link_to "Go!", arcs_path %></div>
    </div>
  </div>

</div>

<div class="whoBox">
  <div class="whoTitle">
    <div class="redLine"></div>
    <div class="whoWho"> <h1> Who Are We? </h1></div>
    <div class="redLine"> </div>
  </div>

  <div class="whoText"> <p>Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt in culpa qui officia deserunt mollit anim id est laborum. Aute irure dolor in reprehenderit in voluptate velit esse cillum dolore eu fugiat nulla pariatur.</p></div>

</div>


