<div class="container">

  <div class="homePageBox">

    <div class="HPTitle"> <strong> Find your Architect </strong> </div>

    <div class="HPDesc">
    Buying or entng a new flat is a big thing, let's not even mention construction works. <strong>Jamba</strong> connects you with top class local architects that will help you make the right choice.
    </div>

  </div>

   <div class="homeSearchBox">
    <div class="homePageSearchTit"><h3>Find your Professional!</h3></div>
    <div class="homePageSearchCont">
      <div class="homePageSearchContWho"></div>
      <div class="homePageSearchContWhere"></div>
      <div class="homePageSearchContWhen"></div>
      <div class="homePageSearchContButton"></div>
    </div>
  </div>



  <div class="homePageProfs">profs</div>


    <div class="homePageFAQ">FAQ</div>

    <div class="homePageBYOB">byob</div>

    <div class="homePageFoot">fot</div>

</div>
