/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 @import "card";
 @import "nav";


  .navCol {
  background-color: #386FA4;
 }

  .nav {
    display: flex;
    flex-direction: row;
  }

  .navbar {
    color: black;
  }

.welcBox {
  display: flex;
  justify-content: center;
  margin-bottom: 30px;
}

.citSel {
  display: flex;
  justify-content: center;
}
.citySelect {
  display: flex;
  height: 60vh;
  width: 90vw;
  justify-self: center;
  justify-content: space-between;
  flex-direction: row;
}



.madBox {
  height: 100%;
  width: 45%;
  color: white;
  background-image: url(madrid.jpg);
  background-size: 160%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  text-decoration: none;
  padding: 30px;
  border-radius: 40px;
  opacity: 0.5;
}
.madBox:hover {
  height: 100%;
  width: 45%;
  color: white;
  background-image: url(madrid.jpg);
  background-size: 160%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-align: right;
  text-decoration: none;
  padding: 30px;
  border-radius: 40px;
  opacity: 0.1;
}

.barcBox {
  height: 100%;
  width: 45%;
  color: white;
  background-image: url(BCN.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
  padding: 30px;
  border-radius: 40px;
}

.barcLink {
  height: 100%;
  width: 100%;
}

.barcBox:hover {
  height: 100%;
  width: 45%;
  color: white;
  background-image: url(BCN.jpg);
  background-size: 120%;
  background-repeat: no-repeat;
  display: flex;
  justify-content: flex-end;
  flex-direction: column;
  text-decoration: none;
  padding: 30px;
  opacity:0.6;
  font-weight: 12em;


}

