// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


// get rid of when use properly



.homepageBox {
  height: 80vh;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}


.titleBoxHP {
  height: 40%;
  width: 50%;
  display: flex;
  flex-direction: column;
  align-self: center;
  align-items: center;
}

.welcHP {
 height: 20%;
 width: 40%;
 color: #14A76C;
 h1 {
  font-size: 2.5em;
  text-align: center;
 }
}

.jambaHP {
 height: 55%;
 width: 70%;
 color: #14A76C;
 text-align: center;
 display: flex;
 justify-content: flex-end;
 flex-direction: column;
 h1 {
  font-size: 7em;
 }
}



.searchBoxHP {
  height: 40%;
  width: 60%;
  align-self: center;
}

.searchTextHP {
  text-align: center;
}

.whoBox {
  width: 100vw;
  height: 45vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
}


.whoTitle {
  width: 100vw;
  height: 20%;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
}

.whoText {
  width: 70%;
  height: 70%;
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #14A76C;
  p {
    font-size: 28px;
  }
}

.whoWho {
  h1 {
    font-size: 35px;
    color: #14A76C;
  }

}

.redLine {
  width: 40%;
  height: 10%;
  background-color: #14A76C;
  border-radius: 4px;
}




















