// Place all the styles related to the pages controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

* {
  border: 1px solid red;
}

.homePageBox {
  width: 100%;
  height: 45vh;
  margin-top: 42px;
  display: flex;
  flex-direction: column;

}
.HPTitle {
  width: 80%;
  font-size: 6.7em;
  margin-bottom: 20px;
}

.HPDesc {
  width: 60%;
  font-size: 1.5em;
}


.homeSearchBox {
  width: 100%;
  height: 23vh;
  background-color: white;
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  .homePageSearchTit {
  width:40%;
  margin-left: 15px;
  }
  .homePageSearchCont {
    height: 45%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .homePageSearchContWho {
    height: 70%;
    width: 23%;
  }
  .homePageSearchContWhere {
    height: 70%;
    width: 23%;
  }
  .homePageSearchContWhen {
    height: 70%;
    width: 23%;
  }
  .homePageSearchContButton {
    height: 70%;
    width: 20%;
  }


}

.homePageProfs {
  width: 100%;
  height: 95vh;
  background-color: green;
}

.homePageFAQ {
  width: 100%;
  height: 75vh;
  background-color: grey;
}

.homePageBYOB {
  width: 100%;
  height: 55vh;
  background-color: blue;
}

.homePageFoot {
  width: 100%;
  height: 45vh;
  background-color: yellow;
}






