<div class="container">
  <div class="arcShow">
    <div class="arcLeft">
      <div class="arcPhoto">
        <div class="arcPho">
        <%= image_tag("man1.jpg", size: "230x230", :alt => "rss feed") %>
        </div>
      </div>

      <div class="arcName"> Carlos Beltran </div>

      <div class="arcDeats">
        <div class="arcDeatsL">
          <div class="arcDeatsLime"> Commercial Architect</div>

        </div>
        <div class="arcDeatsR">
          <div class="arcDeatsRating">
              ★★★
          </div>
          <div class="arcDeatsRears">8 Years XP</div>
        </div>

      </div>
    </div>



    <div class="arcInfo">
      <div class="arcBio">
      </div>
    </div>
  </div>

  <div class="revNothers"></div>


</div>
