<div class="container">
  <div class="arcShow">
    <div class="arcLeft">
      <div class="arcPhoto">
        <div class="arcPho">
        <%= image_tag("man1.jpg", size: "230x230", :alt => "rss feed") %>
        </div>
      </div>

      <div class="arcName"> Carlos Beltran </div>

      <div class="arcDeats">
        <div class="arcDeatsL">
          <div class="arcDeatsLime"> Commercial Architect</div>

        </div>
        <div class="arcDeatsR">
          <div class="arcDeatsRating">
              ★★★
          </div>
        </div>

      </div>
    </div>



    <div class="arcInfo">
      <div class="arcBio">
        <div class="bioTitle">
         <h2> About Me: </h2>
        </div>
        <div class="bioConts"> <h3>
          Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium. </h3>
        </div>
        <button type="button" class="btn btnCard2">Book Me</button>
      </div>
    </div>
  </div>

    <!-- Review and other arcs box -->
  <div class="revNothers">

    <div class="arcRev">
      <div class="revTitle"> <h2>Reviews on this Architect </h2></div>
      <div class="revContent">
        <div class="revRevs">Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto - Jon Mats
        </div>
        <div class="revRevs">
          Ut enim ad minima veniam, quis nostrum exercitationem ullam corporis suscipit laboriosam, Qui in ea voluptate velit esse quam nihil molestiae consequatur, fugiat quo voluptas nulla pariatur?" - Mat Jons
        </div>




      </div>
    </div>

    <div class="arcOthers">
      <div class="othersTitle"> <h2>
        Other Architects </h2>
      </div>
      <div class="otherCard">

      </div>

    </div>
  </div>


</div>
